/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require commontator/application
 *= require toastr
*/
@import "font-awesome-sprockets";
@import "font-awesome";


.body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f7f7f7;
}

body .container {
}

.navbar {
    background-color: #000;
}

.logo {
	font-family: sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: #fff;
}


.righter {
    padding-right: 30px;
}



.navbar-light .navbar-nav .nav-link {
    color: aliceblue;
}

.nav-item .nav-link {
    font-size: larger;
    font-style: oblique;
    font-weight: bold;
    color: aliceblue;
}


.table {
	background-color: azure; 
}

/*footer*/
.footer {
    background-color: #f7f7f7;
    .social {
        display: -webkit-box;
    }
    @media screen and (max-width: 767px) {
        
    }
}

/*.social {
    display: -webkit-box;
    @media screen and (max-width: 767px) {

    }
}*/
