@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


.body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f7f7f7;
}

body .container {
	padding-top: 90px;
}

.navbar {
    background-color: #000;
}

.logo {
	font-family: sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: #fff;
}


.righter {
    padding-right: 30px;
}



.navbar-light .navbar-nav .nav-link {
    color: aliceblue;
}

.nav-item .nav-link {
    font-size: larger;
    font-style: oblique;
    font-weight: bold;
    color: aliceblue;
}


.table {
	background-color: azure; 
}

/*Navigation*/

.nav-wrap {
    transition: top .3s ease-in-out,height .3s ease-in-out;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.97);
    font-family: "Montserrat";
    height: 46px;
    position: absolute;
    top: 75px;
    font-size: 13px;
    width: 100%;
    right: 0;
    left: 0;
}

/*footer*/
.footer {
    background-color: #f7f7f7;
    .social {
        display: -webkit-box;
    }
    @media screen and (max-width: 767px) {
        
    }
}

/*.social {
    display: -webkit-box;
    @media screen and (max-width: 767px) {

    }
}*/