<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<p class="text-muted">Visit Our Pages</p>
				<!-- <h3>FEEDS.inc</h3> -->
				<h3><%= link_to "FEEDS.inc", root_path, class: "text-muted" %></h3>
				<div class="social">
					<span class="fa-stack fa-lg">
						<i class="fa fa-square-o fa-stack-2x"></i>
						<i class="fa fa-facebook fa-stack-1x"></i>
					</span>
					<span class="fa-stack fa-lg">
						<i class="fa fa-square-o fa-stack-2x"></i>
						<i class="fa fa-twitter fa-stack-1x"></i>
					</span>
					<span class="fa-stack fa-lg">
						<i class="fa fa-square-o fa-stack-2x"></i>
						<i class="fa fa-instagram fa-stack-1x"></i>
					</span>
					<span class="fa-stack fa-lg">
						<i class="fa fa-square-o fa-stack-2x"></i>
						<i class="fa fa-linkedin fa-stack-1x"></i>
					</span>
				</div>
			</div>
			<div class="col-lg-4 links">
				<p class="text-muted">More Links.</p>
				<div class="footer-links">
					<a class="nav-link" href="" title=""> About Us</a>
					<a class="nav-link" href="" title=""> Contact Us</a>
					<a class="nav-link" href="" title=""> Become a news writer on our site</a>
					<a class="nav-link" href="" title=""> Testimonials</a>
					<a class="nav-link" href="" title=""> Political Society</a>
					<a class="nav-link" href="" title=""> Our Vision and Purpose</a>
				</div>
			</div>
			<div class="col-lg-4">
				<p class="text-muted">Contact Us</p>
				<input class="form-control" type="text" placeholder="E-mail">
				<br>
				<textarea class="form-control" type="text" placeholder="Message"></textarea>
				<br>
				<button class="btn btn-default">Send</button>
			</div>
		</div>
	</div>
</footer>