<footer class="page-footer center-on-small-only">
    <div class="call-to-action">
        <h4>News Feed Inc</h4>
        <ul>
            <li>
            <h5>Sign up to get news feeds everyday</h5></li>
            <% if user_signed_in? %>
             <li class="upper-links"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "links" %></a></li>
            <% else %>
            <li><%= link_to "SignIn", new_user_session_path, class: "btn btn-info" %></a></li>
            <li><%= link_to "SignUp", new_user_registration_path, class: "btn btn-default"%></a></li>
            <% end %>
        </ul>
        <p class="copyright clear-float">
            <div class="credits">
                Designed by <a href="https://proximawebdesign.herokuapp.com/">Proxima-Dev</a>
            </div>
        </p>
    </div>
</footer>