<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<p class="text-muted">Visit Our Pages</p>
			</div>
			<div class="col-lg-4">
				<p class="text-muted">Place sticky footer content here.</p>
				<a class="nav-link" href="" title=""> About Us</a>
			</div>
			<div class="col-lg-4">
				<p class="text-muted">Contact Us</p>
				<input class="form-control" type="text" placeholder="E-mail">
				<br>
				<textarea class="form-control" type="text" placeholder="Message"></textarea>
				<br>
				<button class="btn btn-default">Send</button>
			</div>
		</div>
	</div>
</footer>