    

    <!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Call to action-->
        <div class="call-to-action">
            <h4>News Feed Inc</h4>
            <ul>
                <li>
                    <h5>Sign up to get news feeds everyday</h5></li>
                <li><a target="_blank" href="http://mdbootstrap.com/getting-started/" class="btn btn-info">Sign up!</a></li>
                <li><a target="_blank" href="http://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-default">Learn more</a></li>
            </ul>

                 <p class="copyright clear-float">
                            <div class="credits">
                                Designed by <a href="https://proximawebdesign.herokuapp.com/">Proxima-Dev</a>
                            </div>
                        </p>
        </div>
        <!--/.Call to action-->


    </footer>
    <!--/.Footer-->
