
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>FeedsInc</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="stylesheets/mdb.min.css" rel="stylesheet">

    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */

        main {
            padding-top: 3rem;
            padding-bottom: 2rem;
        }

        .widget-wrapper {
            padding-bottom: 2rem;
            border-bottom: 1px solid #e0e0e0;
            margin-bottom: 2rem;
        }


        .navbar {
            background-color: #53463d;
        }

        footer.page-footer {
            background-color: #53463d;
            margin-top: 2rem;

        }
    </style>
  </head>

    <body>

      <!--Navbar-->
      <nav class="navbar navbar-toggleable-md navbar-dark">
          <div class="container">
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#">
                  <strong>Navbar</strong>
              </a>
              <div class="collapse navbar-collapse" id="navbarNav1">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                          <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link">Feeds</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link">Complaints</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link">Contacts</a>
                      </li>
                  </ul>
                  <form class="form-inline waves-effect waves-light">
                      <input class="form-control" type="text" placeholder="Search">
                  </form>
              </div>
          </div>
      </nav>
      <!--/.Navbar-->

      <%= yield %>
    </body>

</html>
